
.template .img-container {
    height: 60vh;
    width: 100%;
}

.template .img-container img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
}

.template .temp-heading,
.template .temp-body {
    margin: 50px 0;
}